nav {
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--purple);
}

.title_fun {
  color: var(--red);
}

.nav_suitSection {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.nav_suit {
  text-decoration: none;
  color: var(--purple);
  transition: all 0.4s;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}

.nav_suit:hover {
  color: white;
  background-color: var(--purple);
}

@media only screen and (max-width: 780px) {
  nav {
    flex-direction: column;
    height: 100px;
  }

  .title {
    font-size: 2rem;
  }

  .nav_suit {
    padding: 7px;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 412px) {
  .nav_suitSection {
    width: 280px;
  }

  .nav_suit {
    font-size: 1.2rem;
  }
}