/* Detail page */
.cardTitle {
  font-size: 1.7rem;
  margin: 20px;
  text-align: center;
  color: #370665;
  text-shadow: 1px 2px 4px rgba(124, 124, 124, 0.7);
}

.cardDetail {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  padding-top: 20px;
}

.cardDetail_card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.cardDetail_card img {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 4px 8px 16px rgb(77, 77, 77);
}

.cardDetail_info {
  padding: 0 40px;
}

.cardDetail_infoSection {
  margin-bottom: 20px;
}

.cardDetail_info_desc {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  color: #B85252;
  text-shadow: 1px 2px 4px rgba(124, 124, 124, 0.7);
}

.cardDetail_info_txt {
  font-size: 1rem;
  line-height: 2rem;
}

@media only screen and (max-width: 780px) {
  .cardTitle {
    font-size: 1.8rem;
  }

  .cardDetail_info_desc {
    font-size: 1.4rem;
  }

  .cardDetail_card img {
    width: 240px;
  }

  .cardDetail_info_txt {
    font-size: 1.3rem;
  }

}

@media only screen and (max-width: 680px) {
  .cardDetail {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cardDetail_card {
    padding: 0;
    margin-bottom: 30px;
  }
}